.antcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.antcol .antcol-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.antcol .antcol-main .antcol-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  background-color: #158eff;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.antcol .antcol-main .antcol-one h4 {
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.antcol .antcol-main .antcol-one p {
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.antcol .antcol-main .antcol-one .antcol-icon {
  width: 80px;
}

.antcol-one:hover {
  background-color: #43a4ff;
}

.antcol-card-one {
  width: 200px;
  padding: 30px;
  border: 1px solid #f1f1f1;
}

.antcol-card-one h2 {
  font-size: 30px;
  color: #e76c81;
  font-weight: 400;
}

.row-dashboard-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  gap: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-dashboard-top .row-dashboard-top-1 {
  padding: 20px;
  width: 100%;
  border: 1px solid #f1f1f1;
}

.row-dashboard-top .row-dashboard-top-2 {
  padding: 20px;
  width: 100%;
  border: 1px solid #f1f1f1;
}

.row-dashboard-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-dashboard-bottom .row-dashboard-bottom-1 {
  padding: 20px;
  border: 1px solid #f1f1f1;
  width: 100%;
}

.row-dashboard-bottom .row-dashboard-bottom-2 {
  padding: 20px;
  border: 1px solid #f1f1f1;
  width: 100%;
}

.users-usercard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-layout-background {
  padding: 0;
}

.site-layout-background .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  padding: 5px 50px 0 50px;
}

.site-layout-background .navbar-left .navbar-profile-img img {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}

.site-layout-background .navbar-left svg:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.notes {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Roboto", sans-serif;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 12px;
}

.notes .notes-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
}

.notes .notes-top input {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.13);
  padding: 20px !important;
  outline: none;
}

.notes .notes-top .inputpadding {
  padding-right: 150px !important;
}

.notes .notes-top .notes-top-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  right: 20px;
  top: 14px;
}

.notes .notes-bottom {
  width: 100%;
  gap: 5px;
}

.notes .notes-not {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0.6px solid rgba(0, 0, 0, 0.233);
  padding: 20px !important;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-top: none;
}

.notes .notes-not .notes-not-p {
  width: 95% !important;
}

.notes .notes-not span {
  color: rgba(0, 0, 0, 0.555);
  font-size: 12px;
}

.notes .notes-not-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 20px;
  margin-right: 15px !important;
}

.notes .btn2 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: 0 0 40px 40px #3498db inset;
  box-shadow: 0 0 40px 40px #3498db inset;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.notes .btn2:focus {
  outline: none;
}

.notes .btn3 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #2ecc71;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.notes .btn3:focus {
  outline: none;
}

.notes .btn4 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: #8e44ad;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 5px;
  font-weight: 400;
  line-height: 1;
  padding: 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.notes .btn4:focus {
  outline: none;
}

.notes .first {
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.notes .first1 {
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.notes .first2 {
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.notes .fifth {
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 200px;
  height: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px !important;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  cursor: pointer;
}

.notification .notification-header {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0px;
  padding: 15px 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.notification .notification-body {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  overflow-y: scroll;
}

.notification .notification-body .notification-body-item {
  padding: 15px 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.notification .notification-body .notification-body-item p {
  font-size: 12px;
  color: #777777;
}

.notification .notification-body .notification-body-item:hover {
  background-color: #f0eeee;
}

.notification .notification-footer {
  font-size: 13px;
  font-weight: 700;
  color: #979797;
  padding: 10px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.notification .notification-footer:hover {
  cursor: pointer;
  color: #4576fc;
}

.ant-dropdown-menu {
  border-radius: 5px;
}

.profile-image-dropdown {
  width: 220px;
  height: auto;
  min-width: 90px;
}

.profilepage {
  margin: -24px -50px;
}

.profilepage-container .profile-background-image {
  width: auto;
  height: 100%;
}

.profilepage-container .profilepage-wrapper {
  position: relative;
  bottom: 2.5rem;
  min-width: 300px;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.profilepage-container .profilepage-wrapper .profilepage-avatar-card {
  position: absolute;
  left: 2rem;
  bottom: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.profilepage-container .profilepage-wrapper .profilepage-avatar-card h4 {
  color: white;
  margin: 0;
  font-size: 1.5rem;
}

.profilepage-container .profilepage-wrapper .profilepage-avatar-card p {
  color: white;
  margin: 0;
}

.profilepage-container .profilepage-wrapper .profilepage-avatar-card img {
  border: 4px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.profilpage-menu {
  background-color: white;
  pointer-events: all;
  max-width: 1170px;
  height: 40px;
  margin-bottom: 2.5rem;
}

.profilpage-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.profilpage-menu .menu li {
  margin: 0px 15px;
  display: block;
  padding: 18px 15px 19px;
  color: #202739;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.profilpage-menu .menu li:hover {
  border-bottom: 3px solid black;
}

.profilpage-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  row-gap: 1rem;
}

.profilpage-img img {
  max-width: 330px;
  width: 100%;
  position: relative;
  margin: 0 0 1em;
  border-radius: 0.3rem;
}

.map {
  height: 100vh;
}

.chartspage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.login-page .login-form {
  max-width: 300px;
}

.login-page .login-form-forgot {
  float: right;
}

.login-page .ant-col-rtl .login-form-forgot {
  float: left;
}

.login-page .login-form-button {
  width: 100%;
}

.content-class {
  position: relative;
}

.content-class .content-theme-div {
  position: fixed;
  top: 300px;
  right: 0;
}

.navbar-theme-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.navbar-theme-colors button {
  border: none;
}

.navbar-theme-colors button:active {
  border: 1px solid black;
}

.sidebar-theme-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.sidebar-theme-colors button {
  border: none;
}

.sidebar-theme-colors button:active {
  border: 1px solid black;
}

.theme-drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.theme-drawer .navbar-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.theme-drawer .navbar-theme .navbar-theme-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.theme-drawer .sidebar-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.theme-drawer .sidebar-theme .sidebar-theme-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .site-layout-background .navbar-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  }
  .row-dashboard {
    width: 100% !important;
  }
  .row-dashboard .row-dashboard-top {
    padding: 2px !important;
    margin: 0 !important;
  }
  .ant-breadcrumb {
    display: none;
  }
  .site-layout-background {
    margin: 0 !important;
    padding: 0 !important;
  }
  .ant-layout-content {
    margin: 0 !important;
    padding: 0 !important;
  }
  .row-dashboard-top {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .ant-table-tbody {
    display: none;
  }
  .ant-table {
    display: none !important;
  }
  .ant-table-wrapper {
    display: none !important;
  }
  .users-usercard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65%;
    margin: 0 !important;
    margin: auto !important;
  }
  .ant-layout-sider-trigger {
    display: none;
  }
  .ant-layout-sider-children {
    position: fixed;
  }
  .charspage-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
  }
  .charspage-head .chartspage {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100% !important;
  }
  .charspage-head .chartspage .recharts-wrapper {
    width: 100% !important;
  }
  .charspage-head .chartspage .recharts-wrapper .recharts-surface {
    width: 100% !important;
  }
  .profilepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin: 0px !important;
    margin-bottom: 40px !important;
    height: 180px !important;
  }
  .profilepage-container .profilepage-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    bottom: 0;
    height: 100% !important;
  }
  .profilepage-avatar-card {
    bottom: -25px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 90% !important;
    margin: 0 !important;
  }
  .profilepage-avatar-card img {
    width: 100px;
  }
  .profilepage-avatar-card h4,
  .profilepage-avatar-card p {
    top: -4px !important;
    font-size: 15px !important;
  }
  .profile-background-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
    height: 100% !important;
  }
  .profilpage-menu {
    width: 100% !important;
  }
  .profilpage-menu span {
    font-size: 14px !important;
  }
  .profilpage-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profilpage-img img {
    width: 40%;
  }
}
/*# sourceMappingURL=global.css.map */